
\newcommand{\totalbooklets}[0]{\textsc{ {{summary['num_books']}} }}
\newcommand{\giftcardnum}[0]{\textsc{ {{summary['num_cards']}}  }}                                   
\newcommand{\schoolnum}[0]{\textsc{ {{summary['num_schools']}}  }}
\newcommand{\giftcardcost}[0]{\textsc{ {{summary['card_cost']}}  }}
\newcommand{\stickercost}[0]{\textsc{ {{summary['sticker_cost']}}  }}                  
\newcommand{\totalrequest}[0]{\textsc{ {{summary['ace_total']}}  }} 
\newcommand{\totalvo}[0]{\textsc{ {{summary['vo_total']}}  }}             


\begin{table*}
  \fontfamily{ppl}\selectfont
  \begin{tabular}{lll}
    \toprule
    Category  & Cost & Partner \\
    \midrule
    {% for category, cost, partner in labor_budget %}
    {{category}}  & {{cost}} & {{partner}}\\                
    {% endfor %}
    \midrule
    {% for category, cost, partner in material_budget %}                           
    {{category}}  & {{cost}} & {{partner}}\\                                    
    {% endfor %}     
    \midrule
    {% for category, cost, partner in incentive_budget %}                           
    {{category}}  & {{cost}} & {{partner}}\\                                    
    {% endfor %}     
    \midrule
    Totals & & \\
    Vegan Outreach & {{summary['vo_total']}} & \\
    ACE & {{summary['ace_total']}} & \\
    \bottomrule
  \end{tabular}
  \vskip 1.5em
  \caption{Detailed \les~ Budget}
  \label{tab:budget}
\end{table*}

